<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781976423389-db7uijiun23aed6imqr6jhaovnha572u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781976423389-db7uijiun23aed6imqr6jhaovnha572u</string>
	<key>API_KEY</key>
	<string>AIzaSyCRb_Zx_PPtV9w_mKNjr8tRtuQWv4feJAI</string>
	<key>GCM_SENDER_ID</key>
	<string>781976423389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-20621</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-20621.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781976423389:ios:1d129dff0763f231138434</string>
</dict>
</plist>